/* Init */

:root {
	--dark-clr: linear-gradient(75deg, #473d27, #3a1d30, #1d1e3b, #343f1f, #442921);
	--light-clr: linear-gradient(75deg, #ffe5b0, #fface1, #babdfd, #ebffc4, #ffc3ae);
  --dark: #fff;
  --light: #000;
  --popup-dark: #333333d8;
  --popup-light: #a0a0a0bd;
}

@media (prefers-color-scheme: dark) {
	:root {
		--clr-background: var(--dark-clr);
		--clr-foreground: var(--light-clr);
    --clr-popup: var(--popup-dark);
	}
}
.light-theme {
	--clr-background: var(--light-clr);
  --clr-foreground: var(--light);
  --clr-popup: var(--popup-light);
}

.dark-theme {
	--clr-background: var(--dark-clr);
  --clr-foreground: var(--dark);
  --clr-popup: var(--popup-dark);
}

/* Body */

body {
  background: var(--clr-background);
  background-size: 1000% 1000%;
  animation: rainbow 100s linear infinite;
  background-repeat: repeat;
  color: #fff;
  font-family: 'Fredoka', sans-serif;
  letter-spacing: 0.2rem;
  margin: 0px;
  overflow: hidden;
  perspective: 1000px;
  text-transform: uppercase;
  cursor: none;
}

.site-wrap {
  transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  scale: 100%;
}

.site-wrap.show-all {
  transform: scale(0.2);
}

.panel-wrap {
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 10vw;
  margin: 0;
  color: #f35626;
  background-image: -webkit-linear-gradient(120deg, #ad6d59, #be9254);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 100s infinite linear;
}

/* Nav */

.panel-wrap {
  perspective: 2000px;
  transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

.panel-wrap.animate--shrink {
  transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0.3s;
}

.panel {
  height: 100vh;
  position: absolute;
  transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  width: 100vw;
  will-change: transform;
}

.panel:before {
  background-color: transparent;
  bottom: 0;
  content: "";
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: 2;
}

.show-all .panel:before {
  pointer-events: all;
}

.show-all .panel:hover:before {
  background-color: #0000002f;
  cursor: none;
}

.animate--shrink.animate .panel {
  transform: scale(0.9);
}

.panel h1 {
  cursor: none;
  left: 50%;
  line-height: 1;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  user-select: none;
}

.panel[data-x-pos="-2"] {
  left: -200%;
}

.panel[data-x-pos="-1"] {
  left: -100%;
}

.panel[data-x-pos="1"] {
  left: 100%;
}

.panel[data-x-pos="2"] {
  left: 200%;
}

.panel[data-y-pos="-2"] {
  top: 200%;
}

.panel[data-y-pos="-1"] {
  top: 100%;
}

.panel[data-y-pos="1"] {
  top: -100%;
}

.panel[data-y-pos="2"] {
  top: -200%;
}

.panel__zoom {
  cursor: none;
  left: 50%;
  position: absolute;
  opacity: 0.8;
  background-image: -webkit-linear-gradient(120deg, #a52600, #b16701);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 100s infinite linear;
  top: 49%;
  transform: translateX(-50%) translateY(-50%) translateY(-12vmin);
  transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  user-select: none;
  z-index: .9;
}

.panel__zoom:hover {
  opacity: 1;
}

.show-all .panel__zoom {
  pointer-events: none;
}

.panel__nav {
  cursor: none;
  position: absolute;
  opacity: 0.8;
  background-image: -webkit-linear-gradient(120deg, #a52600, #b16701);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 100s infinite linear;
  transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  user-select: none;
  will-change: opacity;
}

.panel__nav--up {
  left: 50%;
  top: 1vw;
  transform: translateX(-50%);
}

.panel__nav--left {
  left: 1vw;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg) translateX(-100%);
  transform-origin: top left;
}

.panel__nav--left-top {
  left: 1vw;
  top: 1vw;
}

.panel__nav--left-down {
  bottom: 3vw;
  left: 1vw;
}

.panel__nav--right {
  right: 1vw;
  top: 50%;
  transform: translateY(-50%) rotate(90deg) translateX(100%);
  transform-origin: top right;
}

.panel__nav--right-top {
  right: 1vw;
  top: 1vw;
}

.panel__nav--right-down {
  bottom: 3vw;
  right: 1vw;
}

.panel__nav--down {
  bottom: 3vw;
  left: 50%;
  transform: translateX(-50%);
}

.panel__nav:hover {
  opacity: 1;
}

.panel__animation-list {
  font-size: 3.3vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) translateY(14vmin);
}

.panel__animation-list span {
  cursor: none;
  display: inline-block;
  opacity: 0.2;
  position: relative;
  transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  user-select: none;
}

.panel__animation-list span:after {
  border-bottom: 0.3vmin solid transparent;
  bottom: 0;
  content: "";
  left: -1px;
  position: absolute;
  right: 0;
  transition: border-color 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  width: 100%;
}

.panel__animation-list span.active,
.panel__animation-list span:hover {
  opacity: 1;
}

.panel__animation-list span.active:after,
.panel__animation-list span:hover:after {
  border-color: #fff;
}

/* Cursors */

#cursor {
  position: fixed;
  z-index: 99;
  left: 0;
  top: -8px;
  pointer-events: none;
  will-change: transform;
  mix-blend-mode: difference;
}

.cursor__circle {
  width: 32px;
  height: 32px;
  margin-top: -50%;
  margin-left: -50%;
  border-radius: 50%;
  border: solid 2px #f35626;
  -webkit-animation: hue 100s infinite linear;
}

.cursor__point {
  width: 5px;
  height: 5px;
  margin-bottom: -60%;
  margin-left: -12%;
  border-radius: 50%;
  background-color: #f35626;
  border: solid 2px #f35626;
  -webkit-animation: hue 100s infinite linear;
}

.cursorhoverclick {
  position: fixed;
  top: -16px;
  width: 32px;
  height: 32px;
  margin-bottom: -50%;
  margin-left: -50%;
  opacity: 0.5;
  -webkit-animation: hue 100s infinite linear;
}

/* Socials */

.wrapper {
  display: inline-flex;
  list-style: none;
  position: relative;
  justify-content: center;
  top: 60%; 
}

.wrapper .icon {
  position: relative;
  background: #ffffff00;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 20px;
  height: 20px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  width: max-content;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  background-color: var(--clr-foreground) !important;
  height: 8px;
  width: 8px;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: linear-gradient(120deg, var(--clr-popup), #1da0f29f);
  color:  var(--clr-foreground);
  cursor: none;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: linear-gradient(#ff49c8a4, #ff49c8a4);
  color:  var(--clr-foreground);
  cursor: none;
}

.wrapper .tiktok:hover,
.wrapper .tiktok:hover .tooltip,
.wrapper .tiktok:hover .tooltip::before {
  background: linear-gradient(120deg, #1fa4cd, #fa5858);
  color:  var(--clr-foreground);
  cursor: none; 
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: linear-gradient(var(--clr-popup), var(--clr-popup));
  color:  var(--clr-foreground);
  cursor: none;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: linear-gradient(#cd1f1f8a, #cd1f1f8a);
  color:  var(--clr-foreground);
  cursor: none;
}

.wrapper .twitch:hover,
.wrapper .twitch:hover .tooltip,
.wrapper .twitch:hover .tooltip::before {
  background: linear-gradient(#b01fcd8a, #b01fcd8a);

  color:  var(--clr-foreground);
  cursor: none;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: linear-gradient(#1f2bcd8a, #1f2bcd8a);
  color: var(--clr-foreground);
  cursor: none;
}

/* Popup */

.screen-reader {
  width: var(--screenReaderWidth, 1px) !important;
  height: var(--screenReaderHeight, 1px) !important;
  padding: var(--screenReaderPadding, 0) !important;
  border: var(--screenReaderBorder, none) !important;
  position: var(--screenReaderPosition, absolute) !important;
  clip: var(--screenReaderClip, rect(1px, 1px, 1px, 1px)) !important;
  overflow: var(--screenReaderOverflow, hidden) !important;
}

.popup:not(:target) {
  display: none;
}

.popup:target {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;  
}

.popup::before {
  content: "";
  box-sizing: border-box;
  width: 100%;
  background-color: var(--clr-popup);
  position: fixed;
  left: 0;
  top: 50%;
}

.popup::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--clr-popup);
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
}

.popup__container {
  box-sizing: border-box;  
  padding: 5% 15%;
  height: calc(100vh - 40px);
  margin: auto; 
  overflow: hidden; 
  overscroll-behavior: contain; 
}

.popup__close {
  width: 2rem;
  height: 2rem;
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNSAxMiAxMC41OSA2LjQxIDUgNSA2LjQxIDEwLjU5IDEyIDUgMTcuNTkgNi40MSAxOSAxMiAxMy40MSAxNy41OSAxOSAxOSAxNy41OSAxMy40MSAxMnoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
}

.popup::before {
  will-change: height, top;
  animation: open-animation .6s cubic-bezier(0.83, 0.04, 0, 1.16) .65s both;
}

.popup::after {
  will-change: width, opacity;
  animation: line-animation .6s cubic-bezier(0.83, 0.04, 0, 1.16) both;
}

.popup__container {
  animation: fade .5s ease-out 1.3s both;
}

.open-popup {
  color: var(--clr-popup);
  text-decoration: none;
  text-transform: uppercase;
  padding: .75rem 1.25rem;
  border: 1px solid;
}

/* About */

p {
  line-height: 1.5;
  text-transform: none;
  font-size: 18px;
  color: var(--clr-foreground);
  z-index: -1;
}

.popup__content h2 {
  position: absolute;
  font-size: 7vw;
  margin-left: 12vw;
  margin-top: 13vh;
  top: 1px;
  color: #f35626;
  background-image: -webkit-linear-gradient(120deg, #ad6d59, #be9254);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 100s infinite linear;
}

.popup__content .imgAbout {
  width: 200px;
  height: 200px;
  border: var(--clr-foreground) solid 2px;
	background-image: url("images/Moi.png");
	border-radius: 50%;
	transition: all 1s;
}

p:nth-child(n+2) {
  margin-top: 1rem;
}

/* Language */

.lang {
  font-size: 12px;
  border-radius: 12px;
  border-color: #f35626;
  color: #f35626;
  opacity: 0.8;
  background-image: -webkit-linear-gradient(120deg, #a52600, #b16701);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 100s infinite linear;
  cursor: none; 
  user-select: none;
}

/* Caroussel */

.trans3d {
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform-style: preserve-3d;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform-style:preserve-3d;
  -ms-transform: translate3d(0, 0, 0);
  transform-style:preserve-3d;
  transform: translate3d(0, 0, 0);
}

#contentContainer {
  position:absolute;
  margin-left:-500px;
  margin-top:-500px;
  left:50%;
  top:50%;
  width:1000px;
  height:1000px;
}

#carouselContainer {
  position:absolute;
  margin-left:-500px;
  margin-top:-500px;
  left:50%;
  top:50%;
  width:1000px;
  height:1000px;
}

.carouselItem {
  width:320px;
  height:130px;
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-160px;
  margin-top:-90px;
  visibility:hidden;
}

.carouselItemInner {
  width:320px;
  height:130px;
  position:absolute;
  border: 1px solid var(--clr-foreground);
  border-radius: 8%;
  color: #f35626;
  font-size:20px;
  left:50%;
  top:50%;
  margin-left:-160px;
  margin-top:-90px;
  text-align:center;
  padding-top:50px; 
}

.carouselItemInner p {
  position: relative;
  top: -80px;
  background-image: -webkit-linear-gradient(120deg, #f35626, #feab3a);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 100s infinite linear;
}

/* Skills */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  top: 50%;
  left: 50%;
  transform: translate(8%, -40%);
}

.skill-card {
  margin-top: 5vh;
  margin-left: 5vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 20px;
  width: 15em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: none;
}

.skill-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.skill-card:hover .skill-card_header {
  height: 40px;
}
.skill-card:hover .skill-card_header .skill-card_icon {
  transform: translate(-50%, 50%) scale(3);
}

.skill-card:hover .skill-card_body {
  height: auto;
}

.skill-card:hover .skill-card_body .skill-card_knowledge li {
  transform: translateX(0);
  transition-timing-function: cubic-bezier(0, 1.5, 1, 1);
  transition-duration: 0.5s;
}

.skill-card:hover .skill-card_body .skill-card_knowledge li:nth-child(1) {
  transition-delay: 0.25s;
}

.skill-card:hover .skill-card_body .skill-card_knowledge li:nth-child(2) {
  transition-delay: 0.5s;
}

.skill-card:hover .skill-card_body .skill-card_knowledge li:nth-child(3) {
  transition-delay: 0.75s;
}

.skill-card:hover .skill-card_body .skill-card_knowledge li:nth-child(4) {
  transition-delay: 1s;
}

.skill-card:hover .skill-card_body .skill-card_knowledge li:nth-child(5) {
  transition-delay: 1.25s;
}

.skill-card:hover .skill-card_body .skill-card_knowledge li:nth-child(6) {
  transition-delay: 1.5s;
}

.skill-card .skill-card_header {
  position: relative;
  height: 170px;
  margin: -20px -20px 20px -20px;
  transition: height 0.5s;
  overflow: hidden;
}

header.html {
  background-color: #eb6c3f;
}

header.css {
  background-color: #28A7DE;
}

header.js {
  background-color: #eeff00;
}

header.csharp {
  background-color: #9b28de;
}

header.python {
  background-color: #eeff00;
}

header.git {
  background-color: #ffffff;
}

.skill-card .skill-card_header .skill-card_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: block;
  width: 128px;
  height: 128px;
  transition: transform 0.5s;
}

.skill-card .skill-card_body {
  height: 45px;
  transition: height 0.5s;
  overflow: hidden;
}

.skill-card .skill-card_body .skill-card_title {
  font-size: 1.4em;
  font-weight: 600;
  color: var(--clr-foreground);
  text-transform: uppercase;
}

.skill-card .skill-card_body .skill-card_duration.html{
  color: #f35626;
  font-style: italic;
}
.skill-card .skill-card_body .skill-card_duration.css {
  color: #28A7DE;
  font-style: italic;
}
.skill-card .skill-card_body .skill-card_duration.js {
  color: #eeff00;
  font-style: italic;
}
.skill-card .skill-card_body .skill-card_duration.csharp {
  color: #9b28de;
  font-style: italic;
}
.skill-card .skill-card_body .skill-card_duration.python {
  color: #eeff00;
  font-style: italic;
}
.skill-card .skill-card_body .skill-card_duration.git {
  color: #f35626;
  font-style: italic;
}

.skill-card .skill-card_body .skill-card_knowledge {
  margin-top: 10px;
  color: var(--clr-foreground);
}

.skill-card .skill-card_body .skill-card_knowledge li {
  margin-top: 5px;
  transition-duration: 0;
  transition-delay: 0.5s;
  transform: translateX(-100%);
}

/* Dark / Light Mode */

#switch-theme {
  z-index: 100;
	cursor: none;
	background: 0;
	border: 0;
	opacity: 0.8;
	padding: 0.2rem;
	border-radius: 50%;
	position: relative;
	isolation: isolate;
  top: 62%;
  left: 48.5%;
}

#switch-theme svg {
	fill: var(--clr-foreground);
}


.light-theme #switch-theme::before {
	animation: pulseToLight 650ms ease-out;
}

.dark-theme #switch-theme::before {
	animation: pulseToDark 650ms ease-out;
}

#switch-theme::after {
	content: attr(aria-label);
	position: absolute;
	color: var(--clr-background);
	background: var(--clr-foreground);
	width: max-content;
	font-size: 0.8rem;
	right: 95%;
	top: calc(50% - 1rem);
	margin: 0 auto;
	padding: 0.5em 1em;
	border-radius: 0.125em;
	opacity: 0;
	transform: scale(0);
	transform-origin: top;
	transition: transform 0ms linear 100ms, opacity 100ms linear;
}

.toggle-circle {
	transition: transform 500ms ease-out;
}

.light-theme .toggle-circle {
	transform: translateX(-15%);
}

.toggle-sun {
	transform-origin: center center;
	transition: transform 750ms cubic-bezier(0.11, 0.14, 0.29, 1.32);
}


/* Anims */

@keyframes rainbow {
  0%{background-position:0% 57%}
  100%{background-position:100% 44%}
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Bars */

@keyframes load {
  from {
    width: 0%
  }
}
@-webkit-keyframes load {
  from {
    width: 0%
  }
}
@-moz-keyframes load {
  from {
    width: 0%
  }
}
@-o-keyframes load {
  from {
    width: 0%
  }
}

/* Popups */

@keyframes line-animation {
  0% {
    width: 0;
    opacity: 1;
  }
  99% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }  
}

@keyframes open-animation {
  0% {
    height: 0;
    top: 50%;
  }

  100% {
    height: 100vh;
    top: 0;
  }
}

/* Responsive */

@media screen and (max-width: 1920px) {
  .wrapper {
    left: 36%;
  }
}

@media screen and (min-width: 1921px) {
  .wrapper {
    left: 36%;
  }
}